<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

    <section class="htc__about__area about--2 text__pos ptb--50 bg__white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">OUR <span class="text--theme">COMPANIES</span></h2>
                    </div>
                </div>
            </div>

            <div class="row  mt--70">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="about foo">
                        <div class="about__inner">
                            <a href="https://www.marvelae.com/">
                                <h2 class="text-center">Marvel Intl. Tech. Cont. LLC</h2>
                                <br>
                                <P class="text-center" style="color: #23c09b;font-weight: 600;">
                                    UAE & Oman Distributors of <br>
                                    Dixon Europe Hygienic products
                                </P>

                                <P class="text-center " style="color: #23c09b;font-weight: 600;">
                                    Leading supplier & contractor of customized
                                    Industrial processing solutions and services
                                </P>
                                <br>
                                <P class="text-center">
                                    Tel: +9716 5429338 &nbsp; Mob: 050 7297545<br>
                                    Email:sales@marvelae.com &nbsp; <br> www.marvelae.com
                                </P>
                            </a>
                        </div>
                        <div class="about__inner about__hober__info"><a href="https://www.marvelae.com/">
                                <h2 class="text-center">Marvel International Technical
                                    Contracting L.L.C</h2>
                                <br>
                                <P class="text-center">
                                    UAE & Oman Distributors of <br>
                                    Dixon Europe Hygienic products
                                </P>

                                <P class="text-center">
                                    Leading supplier & contractor of customized
                                    Industrial processing solutions and services
                                </P>
                                <br>
                                <P class="text-center">
                                    Tel: +9716 5429338 &nbsp; Mob: 050 7297545 <br>
                                    Email:sales@marvelae.com &nbsp; <br> www.marvelae.com
                                </P>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="about foo">
                        <div class="about__inner">
                            <h2 class="text-center"><a href="https://www.firstclassuae.com/">First Class Elec. Sw.
                                    Gr. Co
                                    LLC</a></h2>
                            <br>
                            <P class="text-center" style="color: #23c09b;font-weight: 600;">
                                Electrical Traders, Panel Builders
                                Industrial Automation & Control Engg.

                            </P>
                            <p class="text-center" style="color: #23c09b;font-weight: 600;">
                                Supply, Installation & Programming of:
                                VFD, Soft Starter, PLC, SCADA & HMI
                            </p>
                            <br>
                            <P class="text-center">
                                Tel: +9716 5429269 &nbsp; Mob: 050-6580150 <br>
                                Email:fcpanel@eim.ae &nbsp; <br> www.firstclassuae.com
                            </P>

                        </div>
                        <div class="about__inner about__hober__info">
                            <h2 class="text-center"><a href="https://www.firstclassuae.com/">First Class Elec. Sw.
                                    Gr. Co
                                    LLC</a></h2>
                            <br>
                            <P class="text-center">
                                Electrical Traders, Panel Builders
                                Industrial Automation & Control Engg.

                            </P>
                            <p class="text-center">
                                Supply, Installation & Programming of:
                                VFD, Soft Starter, PLC, SCADA & HMI
                            </p>

                            <br>
                            <P class="text-center">
                                Tel: +9716 5429269 &nbsp; Mob: 050-6580150 <br>
                                Email:fcpanel@eim.ae &nbsp; <br> www.firstclassuae.com
                            </P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="about foo">
                        <div class="about__inner">
                            <h2 class="text-center"><a href="https://www.marvelbmuae.com/">Marvel Intl. Bldg. Mat.
                                    Tr. LLC</a>
                            </h2>
                            <br>
                            <P class="text-center" style="color: #23c09b;font-weight: 600;">
                                Import, Export & Trading of <br>
                                Building Materials
                            </P>
                            <p class="text-center" style="color: #23c09b;font-weight: 600;">
                                Materials for Foam Work and
                                Finishing Materials for <br>
                                Construction Industry
                            </P><br>


                            <P class="text-center">
                                Tel: +9716 5429338 &nbsp; Mob:+971 50 7297545 <br>
                                Email: bm@marvelae.com &nbsp; <br> www.marvelbmuae.com
                            </P>

                        </div>

                        <div class="about__inner about__hober__info"><a href="https://www.marvelbmuae.com/">
                                <h2 class="text-center">Marvel Intl. Bldg. Mat. Tr. LLC
                                </h2>

                                <P class="text-center">
                                    Import, Export & Trading of <br>
                                    Building Materials
                                </P>
                                <p class="text-center">
                                    Materials for Foam Work and
                                    Finishing Materials for <br>
                                    Construction Industry
                                </p> <br>
                                <P class="text-center">
                                    Tel: +9716 5429338 &nbsp; Mob:+971 50 7297545 <br>
                                    Email: bm@marvelae.com &nbsp; <br> www.marvelbmuae.com
                                </P>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="text-center container" style="padding-top: 10px;">
                    Please call us today or email us your requirements and we welcome the opportunity to respond
                    immediately
                    with a cost effective solution.
                </p>
            </div>
        </div>

    </section>
    <!-- End About Area -->

    <div class="htc__contact__address add-res bg__cat--1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="htc__contact__wrap clearfix">
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon map-pin">
                                <i class="zmdi zmdi-pin"></i>
                            </div>
                            <div class="ht__address__details">
                                <p>MARVEL INTERNATIONAL <br>
                                    INTERNATIONAL BUILDING <br>
                                    MATERIALS TRADING LLC</p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon glob">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            </div>
                            <div class="ht__address__details">
                                <p><a>+971 55 731 3309</a></p>

                            </div>
                        </div>
                        <!-- End Single Address -->
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="ht__address__details">
                                <p><a >+971 50 7297545 </a></p>
                                <p><a >+971 50 6580150</a></p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Address -->
    <footer class="htc__footer__area">
        <div class="footer__top ptb--130" data--1f2d30__overlay="9.5"
            style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat fixed center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="htc__footer__wrap clearfix">
                        <!-- Start Single Footer -->
                        <!-- <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                        <div class="footer">
                                            <div class="footer__widget">
                                                <h2 class="ft__title">ABOUT</h2>
                                            </div>
                                            <div class="ft__details">
                                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce </p>
                                            </div>
                                        </div>
                                    </div> -->
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer quick__link">
                                <div class="footer__widget">
                                    <!-- <h2 class="ft__title">QUICK LINKS</h2> -->
                                </div>
                                <div class="footer__link">
                                    <ul class="ft__menu">
                                        <li><a href="dowel_bar.html">Dowel Bar Sleeve</a></li>
                                        <li><a href="expantion-joint.html">Expansion Joints</a></li>
                                        <li><a href="fiberglassmesh.html">Fiberglass Mesh</a></li>

                                    </ul>
                                    <!-- <ul class="ft__menu">
                                                    <li><a href="#">Quote</a></li>
                                                    <li><a href="projects-one.html">Projects</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="#">Features</a></li>
                                                </ul> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer quick__link">
                                <div class="footer__widget">
                                    <!-- <h2 class="ft__title">QUICK LINKS</h2> -->
                                </div>
                                <div class="footer__link">
                                    <ul class="ft__menu">
                                        <li><a href="geo_textile.html">Geo Textile</a></li>
                                        <li><a href="ladder_scaffold.html">Ladder</a></li>
                                        <li><a href="plaster.html">Plaster Accessoriess</a></li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->

                        <!-- Start Single Footer -->
                        <!-- <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 smt-40 xmt-40">
                                        <div class="footer">
                                            <div class="footer__widget">
                                                <h2 class="ft__title">INSTAGRAM</h2>
                                            </div>
                                            <ul class="footer__instagram">
                                                <li><a href="#"><img src="images/blog/sm-img/1.jpg" alt="images"></a></li>
                                                <li><a href="#"><img src="images/blog/sm-img/2.jpg" alt="images"></a></li>
                                                <li><a href="#"><img src="images/blog/sm-img/3.jpg" alt="images"></a></li>
                                                <li><a href="#"><img src="images/blog/sm-img/4.jpg" alt="images"></a></li>
                                                <li><a href="#"><img src="images/blog/sm-img/5.jpg" alt="images"></a></li>
                                                <li><a href="#"><img src="images/blog/sm-img/6.jpg" alt="images"></a></li>
                                            </ul>
                                        </div>
                                    </div> -->
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-2 col-lg-offset-1 col-sm-6 col-xs-12 smt-40 xmt-40">
                            <div class="footer">
                                <div class="footer__widget">
                                    <!-- <h2 class="ft__title">INQUARY</h2> -->
                                    <div class="footer__link">
                                        <ul class="ft__menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <!-- <li><a href="#">Plambing</a></li>
                                                        <li><a href="#">Plambing</a></li> -->
                                        </ul>
                                        <!-- <ul class="ft__menu">
                                                        <li><a href="#">Painting</a></li>
                                                        <li><a href="#">Roofing</a></li>
                                                        <li><a href="#">Plambing</a></li>
                                                        <li><a href="#">Features</a></li>
                                                    </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-2 col-lg-offset-1 col-sm-6 col-xs-12 smt-40 xmt-40">
                            <div class="footer">
                                <div class="footer__widget">
                                    <h2 class="ft__title">CONTACT DETAILS</h2>
                                    <div class="footer__link">
                                        <ul class="">
                                            <li><a>MARVEL INTERNATIONAL</a></li>
                                            <li><a>INTERNATIONAL BUILDING </a></li>
                                            <li><a>MATERIALS TRADING LLC</a></li>
                                            <!-- <li><a>Landline:+971 42211517</a></li> -->
                                        </ul>
                                        <!-- <ul class="ft__menu">
                                                        <li><a href="#">Painting</a></li>
                                                        <li><a href="#">Roofing</a></li>
                                                        <li><a href="#">Plambing</a></li>
                                                        <li><a href="#">Features</a></li>
                                                    </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright bg__theme">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyright__inner">
                            <p>All Rights are Reserved under Marvel International L.L.C <br> Powered by :- <a href="https://tinos.co.in/" target="_blank">Tinos Software And security Solutions</a> <br>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>