<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

    <div id="header" class="htc-header">
        <!-- Start Header Top -->
        <div class="htc__header__top bg__cat--1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <ul class="heaher__top__left">
                            <!-- <li><i class="fa fa-clock-o"></i>7.30 AM  -  9.30 PM</li> -->
                            <li><a href="#"><i class="fa fa-phone"></i>+971 50 7297545</a></li>
                            <li><a href="#"><i class="fa fa-envelope-open"></i>bm@marvelae.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="header__top__right">
                            <ul class="login-register">
                                <!-- <li><a href="login-register.html">LOGIN</a></li>
                                <li class="separator">/</li>
                                <li><a href="login-register.html">REGISTER</a></li> -->
                                <li><a href="https://www.facebook.com/marvelbldgmat/"><i class="fa fa-facebook"></i></a></li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li><a href="https://twitter.com/marvelIntBldg"><i class="fa fa-twitter"></i></a></li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li><a href="https://www.instagram.com/marvel_bldg_mattrllc/"><i class="fa fa-instagram"></i></a></li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li><a href="https://www.linkedin.com/company/marvel-international-building-materials-trading-llc/?viewAsMember=true"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <!-- <div class="heaher__top__btn">
                                <a href="#">Buy Now</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-7">
                        <div class="logo">
                            <a href="../index.html">
                                <img src="../images/logo/logo.jpg" alt="logo image">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-5">
                        <nav class="main__menu__nav  hidden-xs hidden-sm">
                            <ul class="main__menu">
                                <li class="drop"><a href="../index.html">HOME</a>
                                    <!-- <ul class="dropdown">
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="index-2.html">Home 02</a></li>
                                        <li><a href="index-3.html">Home 03</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="../about.html">ABOUT US</a></li>
                                <!-- <li><a href="service.html">SERVICES</a></li> -->
                                <!-- <li class="drop"><a href="#">pages</a>
                                    <ul class="dropdown">
                                        <li><a href="service.html">service</a></li>
                                        <li><a href="single-service.html">Single service</a></li>
                                        <li><a href="projects-one.html">projects one</a></li>
                                        <li><a href="projects-two.html">projects two</a></li>
                                        <li><a href="projects-three.html">projects three</a></li>
                                        <li><a href="single-project.html">Single Project</a></li>
                                        <li><a href="blog.html">BLog</a></li>
                                        <li><a href="blog-one-column.html">blog one column</a></li>
                                        <li><a href="blog-two-column.html">blog two column</a></li>
                                        <li><a href="blog-details.html">blog Details</a></li>
                                        <li><a href="login-register.html">Log in & Register</a></li>
                                    </ul>
                                </li> -->
                                <li class="drop"><a href="#">PRODUCTS</a>
                                    <ul class="dropdown">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li><a href="expantion-joint.html">EXPANSION JOINTS</a></li>
                                                <li><a href="spacer.html">Spacers</a></li>
                                                <li><a href="filler_boards.html">Filler Boards</a></li>
                                                <li><a href="fiberglassmesh.html">Fibre glass mesh</a></li>
                                                <li><a href="tile_trim.html">Tile trim</a></li>
                                                <li><a href="construction_chemicals.html">Construction chemicals and
                                                        Others</a></li>
                                                <li><a href="power_tools.html">Power tools and accessories</a></li>
                                                <li><a href="water_proofing.html">Water-proofing </a></li>

                                            </div>
                                            <div class="col-md-6">
                                                <li><a href="water_stop.html">Water stop</a></li>
                                                <li><a href="dowel_bar.html">Dowel Bar</a></li>
                                                <li><a href="ladder_scaffold.html">Ladder/ Scaffold</a></li>
                                                <li><a href="bollards.html">Bollards and Rubber Items</a></li>
                                                <li><a href="geo_textile.html">Geo Textile</a></li>
                                                <li><a href="copper_fitting.html">Copper Items for Gas
                                                        Industries</a></li>
                                                <li><a href="plaster.html">Plaster Accessories</a></li>
                                                <li><a href="drainage.html">Multi Drain</a></li>
                                            </div>
                                        </div>

                                    </ul>
                                </li>
                                <!-- <li class="drop"><a href="blog.html">BLOG</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">BLog</a></li>
                                        <li><a href="blog-one-column.html">blog one column</a></li>
                                        <li><a href="blog-two-column.html">blog two column</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="../policy.html">POLICY & SPECIALTY</a></li>
                                <li><a href="../contact.html">CONTACT US</a></li>
                            </ul>
                        </nav>
                        <div class="mobile-menu clearfix visible-xs visible-sm">
                            <nav id="mobile_dropdown">
                                <ul>
                                    <li><a href="../index.html">Home</a>
                                        <!-- <ul>
                                            <li><a href="index.html">Home 01</a></li>
                                            <li><a href="index-2.html">Home 02</a></li>
                                            <li><a href="index-3.html">Home 03</a></li> 
                                        </ul> -->
                                    </li>
                                    <li><a href="about.html">ABOUT US</a></li>
                                    <li><a href="#">PRODUCTS</a>
                                        <ul class="dropdown mobile_product">
                                            <li><a href="expantion-joint.html">EXPANSION JOINTS</a></li>
                                            <li><a href="spacer.html">Spacers</a></li>
                                            <li><a href="filler_boards.html">Filler Boards</a></li>
                                            <li><a href="fiberglassmesh.html">Fibre glass mesh</a></li>
                                            <li><a href="tile_trim.html">Tile trim</a></li>
                                            <li><a href="construction_chemicals.html">Construction chemicals and
                                                    Others</a></li>
                                            <li><a href="power_tools.html">Power tools and accessories</a></li>
                                            <li><a href="water_proofing.html">Water-proofing </a></li>

                                            <li><a href="water_stop.html">Water stop</a></li>
                                            <li><a href="dowel_bar.html">Dowel Bar</a></li>
                                            <li><a href="ladder_scaffold.html">Ladder/ Scaffold</a></li>
                                            <li><a href="bollards.html">Bollards and Rubber Items</a></li>
                                            <li><a href="geo_textile.html">Geo Textile</a></li>
                                            <li><a href="copper_fitting.html">Copper Fittings for Gas Industries</a>
                                            </li>
                                            <li><a href="plaster.html">Plaster Accessories</a></li>
                                            <li><a href="drainage.html">Multi Drain</a></li>


                                        </ul>
                                    </li>
                                    <!-- <li><a href="#">pages</a>
                                        <ul>
                                            <li><a href="service.html">service</a></li>
                                            <li><a href="single-service.html">Single service</a></li>
                                            <li><a href="projects-one.html">projects one</a></li>
                                            <li><a href="projects-two.html">projects two</a></li>
                                            <li><a href="projects-three.html">projects three</a></li>
                                            <li><a href="single-project.html">Single Project</a></li>
                                            <li><a href="blog.html">BLog</a></li>
                                            <li><a href="blog-one-column.html">blog one column</a></li>
                                            <li><a href="blog-two-column.html">blog two column</a></li>
                                            <li><a href="blog-details.html">blog Details</a></li>
                                            <li><a href="login-register.html">Log in & Register</a></li>
                                        </ul>
                                    </li>  -->
                                    <!-- <li><a href="blog.html">blog</a>
                                        <ul>
                                            <li><a href="blog.html">BLog</a></li>
                                            <li><a href="blog-one-column.html">blog one column</a></li>
                                            <li><a href="blog-two-column.html">blog two column</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="../policy.html">POLICY & SPECIALTY</a></li>
                                    <li><a href="../contact.html">CONTACT US</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 hidden-xs">
                        <!-- <div class="htc__header__search">
                            <input type="text" placeholder="SEARCH">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div> -->
                        <!-- <div class="heaher__top__btn">
                                <a href="#">Buy Now</a>
                            </div> -->
                    </div>
                </div>
                <div class="mobile-menu-area"></div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </div>
    
</body>
</html>